{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% if token_fail %}
    {% trans "Bad Token" %}
{% else %}
    {% trans "Change Password" %}
{% endif %}
{% endblock %}

{% block content %}
<section class="h-100 d-flex flex-column">
    <div class="row my-auto justify-content-center">
        <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="main-card">
                <div class="p-4">
                    <div class="text-center mb-4">
                        {% if token_fail %}
                            <h1 class="h3">{% trans "Bad Token" %}</h1>
                            <hr>
                            <p>{% trans "The password reset link is invalid, possibly because it has already been used. Please request a new password reset." %}</p>
                        {% else %}
                            <h1>{% trans "Change Password" %}</h1>
                            <hr>
                            <p class="text-muted">{% trans "Please enter your new password below." %}</p>
                        {% endif %}
                    </div>

                    {% if not token_fail %}
                    <form method="post" action="{{ action_url }}">
                        {% csrf_token %}

                        {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                                {% for error in form.non_field_errors %}
                                    <p class="mb-0">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="mb-3">
                            <label for="{{ form.password1.id_for_label }}" class="visually-hidden"></label>
                            <input type="password" name="password1" placeholder="New Password" autocomplete="new-password" required="" id="id_password1" aria-autocomplete="list" class="form-field">
                            {% for error in form.password1.errors %}
                            <div class="text-danger small">{{ error }}</div>
                            {% endfor %}
                        </div>

                        <div class="mb-3">
                            <label for="{{ form.password2.id_for_label }}" class="visually-hidden"></label>
                            <input type="password" name="password2" placeholder="New Password (again)" required="" id="id_password2" class="form-field">
                            {% for error in form.password2.errors %}
                            <div class="text-danger small">{{ error }}</div>
                            {% endfor %}
                        </div>

                         <button type="submit" class="button main-btn w-100 mt-3">{% trans 'Change Password' %}</button>
                    </form>
                    {% else %}
                    <div class="mt-4 text-center">
                        <a href="{% url 'account_reset_password' %}" class="button main-btn w-100">{% trans "Request a new password reset" %}</a>
                    </div>
                    {% endif %}

                    <div class="text-center mt-3">
                        <a href="{% url 'account_login' %}" class="text-decoration-none">{% trans "Back to Login" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}