{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<section id="password-change-section" class="h-100 d-flex flex-column">
    <div class="row my-auto justify-content-center">
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
            <div class="main-card">
                <div class="p-4">
                    <div class="text-center mb-4">
                        <h1 class="h3">{% trans "Change Password" %}</h1>
                        <hr>
                    </div>

                    <form method="POST" action="{% url 'account_change_password' %}">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for error in form.non_field_errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}

                        {% for field in form %}
                        <div class="mb-3">
                            {{ field.label_tag }}
                            {{ field }} 
                            {% for error in field.errors %}
                            <div class="text-danger small">{{ error }}</div>
                            {% endfor %}
                        </div>
                        {% endfor %}

                        <button type="submit" name="action" class="button main-btn w-100 text-uppercase">{% trans "Change Password" %}</button>
                    </form>

                    <p class="mb-0 small w-100 text-center mt-3">
                        <a href="{% url 'account_email' %}" class="button secondary-btn w-100">{% trans "Cancel" %}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}