{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Profile" %}{% endblock %}

{% block content %}
<section id="profile-section" class="h-100 d-flex flex-column">
    <div class="row my-auto justify-content-center">
        <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="main-card">
                <div class="p-4">
                    <div class="text-center mb-4">
                        <h1 class="h3">{% trans "User Profile" %}</h1>
                        <hr>
                    </div>

                    <div class="profile-details">
                        <div class="mb-3">
                            <strong>{% trans "Username" %}:</strong> {{ user.username }}
                        </div>
                        <div class="mb-3">
                            <strong>{% trans "Email" %}:</strong> {{ user.email }}
                        </div>
                    </div>

                    <div class="mt-4 text-center">
                        <a href="{% url 'account_change_password' %}" class="button main-btn w-100 text-uppercase">{% trans "Change Password" %}</a>
                    </div>
                    <div class="mt-3 text-center">
                        <a href="{% url 'account_logout' %}" class="button delete-btn w-100 text-uppercase">{% trans "Logout" %}</a>
                    </div>
                    <div class="card-footer text-center w-100 mt-3">
                        <a href="{% url 'dashboard' %}" class="button secondary-btn w-100">{% trans "Back to Dashboard" %}</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
{% endblock %}