{% extends 'budget/two_column_base.html' %}
{% block title %}Records{% endblock title %}

{% block sidebar_content %}
{% include 'budget/transaction_sidebar.html' %}
{% endblock sidebar_content %}

{% block main_content %}

<div class="responsive-scroll">
    {% if transactions %}
    {% for transaction in transactions %}
    <div class="main-card py-3 my-3 mt-md-0 align-items-center">
        <div class="row justify-content-between px-2 align-items-center">
            <div class="col-3">
                <p class="mb-0 small text-muted">Category</p>
                <p class="h6 mb-0">{{ transaction.category.name }} </p>
            </div>

            <div class="col-3">
                <p class="mb-0 small text-muted">Account</p>
                <p class="mb-0">{{ transaction.account.name }}</p>
            </div>

            <div class="col-3">
                <p class="mb-0 small text-muted">Description</p>
                <p class="mb-0">{{ transaction.description | default:"No description" }}</p>
            </div>

            <div class="col-3 align-items-end d-flex flex-column">
                <p class="mb-0 {% if transaction.category.type == 'E' %}text-bubble{% else %}py-1 px-2 text-bubble-accent-light{% endif %}">{{ transaction.amount }}</p>
            </div>
        </div>
    </div>
    {% endfor %}

    {% if is_paginated %}
    {% endif %}

    {% else %}
    <div class="alert alert-info" role="alert">
        No transactions found.
    </div>
    {% endif %}
</div>
{% endblock main_content %}