{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Delete Transaction" %}{% endblock title %}

{% block content %}
<section id="transaction-delete-section" class="h-100 d-flex flex-column">
    <div class="row my-auto justify-content-center">
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
            <div class="main-card">
                <div class="p-4 text-center">
                    <h1 class="h3">Are you sure?</h1>
                    <hr>
                    <p>Are you sure you want to delete the transaction for "<strong>{{ object.description }}</strong>" ?</p>
                    <div class="w-100 d-flex justify-content-center pt-3">
                        <p class="text-bubble text-muted">Amount: <strong>€{{ object.amount }}</strong> | Category: <strong>{{ object.category.name }}</strong></p>
                    </div>

                    <form method="post" class="mt-4 d-flex justify-content-center gap-3">
                        {% csrf_token %}
                        <button type="submit" class="button delete-btn">Yes, delete</button>
                        <a href="{% url 'transaction_list' %}" class="button secondary-btn">No, cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock content %}