<div class="d-flex flex-column justify-content-between main-card side-bar-card">
    <div class="row mb-4 text-center align-items-center">
        <h1 class="h3 mb-3">Records</h1>
        <hr>
        <form method="get" action="{% url 'transaction_list' %}">

            <div class="mb-3">
                <label for="{{ filter_form.accounts.id_for_label }}" class="form-label">{{ filter_form.accounts.label }}</label>
                {{ filter_form.accounts }}
            </div>

            <div class="mb-3">
                <label for="{{ filter_form.categories.id_for_label }}" class="form-label">{{ filter_form.categories.label }}</label>
                {{ filter_form.categories }}
            </div>
            
            <div class="mb-3">
                <label for="{{ filter_form.start_date.id_for_label }}" class="form-label">{{ filter_form.start_date.label }}</label>
                {# Render the field directly, which uses your DateInput widget #}
                {{ filter_form.start_date }} 
            </div>
            
            <div class="mb-3">
                <label for="{{ filter_form.end_date.id_for_label }}" class="form-label">{{ filter_form.end_date.label }}</label>
                {{ filter_form.end_date }} 
            </div>

            <button type="submit" class="button btn-add w-100">Apply Filters</button>
            <a href="{% url 'transaction_list' %}" class="button secondary-btn w-100 mt-2">Clear Filters</a>
        </form>
    </div>
</div>