@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

:root {
  /* Colour Palette */
  --primary-100: #eb9c64;
  --primary-200: #ff8789;
  --primary-300: #554e4f;
  --accent-100: #8fbf9f;
  --accent-200: #346145;
  --text-100: #353535;
  --text-200: #000000;
  --bg-100: #f5ecd7;
  --bg-200: #ebe2cd;
  --bg-300: #c2baa6;

  /* Shadows */
  --float-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;         

  /* Font Families */
  --font-primary: "Lexend", sans-serif;
  --font-secondary: "Roboto Flex", sans-serif;
}

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-secondary);
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  border: none;
  border-top: 1px solid var(--text-100);
  margin: 1rem 0;
}

/* Utility classes */
.card-top {
  background-color: var(--bg-200);
  box-shadow: var(--float-shadow);
  border-radius: 15px;
}

/* Buttons */
.main-btn {
  background-color: var(--bg-300);
  color: var(--text-200);
  border: 1px solid var(--bg-300);
  margin: 0 5px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.main-btn:hover {
  background-color: var(--primary-100);
  color: var(--text-100);
}

/* General styles */
body {
  background-color: var(--bg-100);
  color: var(--text-200);
  line-height: 1.6;
}

/* Nav Bar */
nav {
  box-shadow: var(--float-shadow);
  background-color: var(--bg-200);
  border: 1px solid var(--bg-300);
  border-radius: 15px;
  corner-shape: squircle;
  padding: 1rem;
  font-family: var(--font-primary);
  color: var(--text-100);
  margin: 10px;
}
.navbar-brand {
  margin-left: 8px;
}
.navbar-brand img {
  height: 30px;
  width: 30px;
  margin-right: 3px;
}

/* Footer */
footer {
  background-color: var(--bg-200);
  border-top: 1px solid var(--bg-300);
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--text-100);
}
