@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

:root {
  /* Colour Palette */
  --primary-100: #eb9c64;
  --primary-200: #ff8789;
  --primary-300: #554e4f;
  --accent-100: #8fbf9f;
  --accent-200: #346145;
  --text-100: #353535;
  --text-200: #000000;
  --bg-100: #f5ecd7;
  --bg-200: #ebe2cd;
  --bg-300: #c2baa6;

  /* Shadows */
  --float-shadow: 0px -8px 10px 0px rgba(0, 0, 0, 0.1),
    0px 8px 10px 0px rgba(0, 0, 0, 0.1), -8px 0 10px 0px rgba(0, 0, 0, 0.1),
    8px 0 10px 0px rgba(0, 0, 0, 0.1);

  /* Font Families */
  --font-primary: "Lexend", sans-serif;
  --font-secondary: "Roboto Flex", sans-serif;
}

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-secondary);
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  border: none;
  border-top: 1px solid var(--text-100);
  margin: 1rem 0;
}

/* Utility classes */
.card-top {
  background-color: var(--bg-200);
  box-shadow: var(--float-shadow);
  border-radius: 30px;
}

/* General styles */
body {
  background-color: var(--bg-100);
  color: var(--text-200);
  line-height: 1.6;
}

nav {
  padding: 1rem;
  font-family: var(--font-primary);
  color: var(--text-100);
  margin: 10px;
}
.navbar-brand {
  margin-left: 8px;
}
.navbar-brand img {
  height: 30px;
  width: 30px;
  margin-right: 3px;
}

footer {
  background-color: var(--bg-200);
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--text-100);
  box-shadow: var(--float-shadow);
}
