@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

:root {
  /* Colour Palette */
  --primary-100: #eb9c64;
  --primary-200: #ff8789;
  --primary-300: #554e4f;
  --accent-100: #8fbf9f;
  --accent-200: #346145;
  --text-100: #353535;
  --text-200: #000000;
  --bg-100: #f5ecd7;
  --bg-200: #ebe2cd;
  --bg-300: #c2baa6;

  /* Shadows */
  --float-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  --inset-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;

  /* Font Families */
  --font-primary: "Lexend", sans-serif;
  --font-secondary: "Roboto Flex", sans-serif;
}

/* --- Reset styles --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  border: none;
  border-top: 1px solid var(--text-100);
  margin: 1rem 0;
}
/* --- END Reset styles --- */

/* --- Utility classes --- */
.color-primary {
  color: var(--primary-100);
}
.color-primary-200 {
  color: var(--primary-200);
}
.color-primary-dark {
  color: var(--primary-300);
}
.color-accent {
  color: var(--accent-100);
}
/* Text */
.text-bubble {
  background: linear-gradient(135deg, var(--primary-100), var(--primary-200));
  color: var(--text-200);
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
  font-size: 0.9rem;
  box-shadow: var(--inset-shadow);
  max-width: fit-content;
}
.text-bubble-light {
  background: var(--bg-100);
  color: var(--text-100);
  padding: 0.5rem 0.5rem;
  border-radius: 15px;
  font-size: 0.9rem;
  box-shadow: var(--inset-shadow);
}

/* Cards */
.main-card {
  background-color: var(--bg-200);
  border-radius: 15px;
  box-shadow: var(--inset-shadow);
  padding: 0.5rem;
}
.card-header {
  font-family: var(--font-secondary);
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-100);
  border-bottom: 1px solid var(--bg-300);
  padding: 0.4rem;
}

/* Forms */
.form-field {
  width: 100%;
  border: 1px solid var(--bg-300);
  border-radius: 10px;
  padding: 10px;
  font-size: 1rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.form-field:focus {
  border-color: var(--primary-100);
  box-shadow: 0 0 5px var(--primary-100);
  outline: none;
}

.form-checkbox {
  accent-color: var(--primary-100);
  cursor: pointer;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--primary-100);
  border-radius: 5px;
  position: relative;
}

.form-checkbox:checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 4px;
  height: 10px;
  border: solid var(--primary-100);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

select.form-select {
  background-color: var(--bg-100);
  border: 2px solid var(--bg-300);
  border-radius: 10px;
  text-align: center;
}
select.form-select:focus {
  border-color: var(--primary-100);
  box-shadow: 0 0 5px var(--primary-100);
  outline: none;
}
select.form-select option {
  background-color: var(--bg-100);
}

/* Buttons */
.button {
  padding: 8px 8px;
  font-size: 1rem;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.main-btn {
  background-color: var(--primary-100);
  color: var(--text-200);
  font-weight: 600;
  border: 1px solid var(--bg-300);
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
}
.main-btn:hover {
  background-color: var(--primary-100);
  box-shadow: var(--float-shadow);
  transform: scale(1.02);
}

.secondary-btn {
  background-color: var(--bg-300);
  color: var(--text-200);
  font-weight: 600;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
}
.secondary-btn:hover {
  background-color: var(--bg-300);
  box-shadow: var(--float-shadow);
  transform: scale(1.02);
}
/* --- END Utility classes --- */


/* --- General styles --- */
body {
  background-color: var(--bg-100);
  color: var(--text-200);
  line-height: 1.6;
  font-family: var(--font-primary);
}

/* Nav Bar */
nav {
  box-shadow: var(--float-shadow);
  background-color: var(--bg-200);
  border: 1px solid var(--bg-300);
  border-radius: 15px;
  corner-shape: squircle;
  padding: 1rem;
  font-family: var(--font-primary);
  color: var(--text-100);
  margin: 10px;
}
.navbar-brand {
  margin-left: 8px;
}
.navbar-brand img {
  height: 30px;
  width: 30px;
  margin-right: 3px;
}

/* Footer */
footer {
  background-color: var(--bg-200);
  border-top: 1px solid var(--bg-300);
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--text-100);
}

/* --- END General styles --- */

/* --- Specific component styles --- */
/* Account cards */
.account-card {
  background-color: var(--bg-200);
  border: 1px solid var(--bg-300);
  font-family: var(--font-secondary);
  font-size: calc(0.87rem * 1);
  max-height: 4rem;
  text-transform: capitalize;
  color: var(--text-100);
  border-radius: 15px;
  padding: 1rem;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}
.account-card:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.account-card-add {
  background-color: none;
  color: var(--text-100);
  height: 4rem;
  border-radius: 15px;
  cursor: pointer;
}
.account-card-add>div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed var(--bg-300);
  color: var(--bg-300);
  padding: 1rem 2rem;
  border-radius: 15px;
  transition: border-color 0.2s ease, color 0.2s ease, transform 0.2s ease;
}
.account-card-add>div:hover {
  border-color: var(--primary-200);
  color: var(--primary-200);
  transform: scale(1.02);
  cursor: pointer;
}

/* Charts */

.chart-card {
  min-height: 300px;
}

#spendingChart {
  width: 200px !important;
  height: 200px !important;
}


/* --- END Specific component styles --- */